<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/adminLogs.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="sout" />
        <appender-ref ref="file" />
    </root>
</configuration>
